[SddmGreeterTheme]
Name=pixel-waterfall
Description=Pixel-waterfall Qylock Theme
Author=Darkkal44
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
